{% extends "layout.jinja" %}

{% block head %}

{% endblock %}

{% block content %}

<div class="b3-subheader">
  <div class="container">
    <h1>Documentation</h1>
  </div>
</div>

<div class="b3-block">
  <div class="container">
    github
  </div>
</div>

{% endblock %}