{% extends "layout.jinja" %}

{% block head %}

{% endblock %}

{% block content %}

<div class="b3-subheader">
  <div class="container">
    <h1>Documentation</h1>
  </div>
</div>

<div class="b3-block">
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <strong>Note:</strong> the documentation is beign rewritten. In the next release we're going to have a kick-ass documentation!
    </div>

    <h3>Temporary links:</h3>
    <ul>
      <li><a href="https://github.com/renatopp/behavior3js/wiki">Guide for Behavior3JS</a></li>
      <li><a href="https://github.com/renatopp/behavior3js/wiki">Guide for Behavior3Editor (old)</a></li>
      <li><a href="https://github.com/renatopp/behavior3js/wiki/JSON">The Behavior3 format specification for JSON</a></li>
    </ul>

    <h3>Learn behavior trees:</h3>
    <ul>
      <li><a href="http://guineashots.com/2014/07/25/an-introduction-to-behavior-trees-part-1/">An Introduction to Behavior Trees (part 1)</a></li>
      <li><a href="http://guineashots.com/2014/08/10/an-introduction-to-behavior-trees-part-2/">An Introduction to Behavior Trees (part 2)</a></li>
      <li><a href="http://guineashots.com/2014/08/15/an-introduction-to-behavior-trees-part-3/">An Introduction to Behavior Trees (part 3)</a></li>
      <li><a href="http://guineashots.com/2014/09/24/implementing-a-behavior-tree-part-1/">Implementing a Behavior Tree (part 1)</a></li>
      <li><a href="http://guineashots.com/2014/10/25/implementing-a-behavior-tree-part-2/">Implementing a Behavior Tree (part 2)</a></li>
      <li><a href="http://www.gamasutra.com/blogs/ChrisSimpson/20140717/221339/Behavior_trees_for_AI_How_they_work.php">Behavior Trees for AI - How They Work</a></li>
      <li><a href="http://aigamedev.com/insider/tutorial/second-generation-bt/">Second Generation Behavior Trees</a></li>
      <li><a href="http://aigamedev.com/open/article/bt-overview/">Behavior Trees Overview</a></li>
    </ul>
    
  </div>
</div>

{% endblock %}