<div class="b3-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h3>About</h3>
        <p class="text-left">Behavior3 is maintained by Renato Pereira at <a href="http://guineashots.com">guineashots.com</a> and an awesome community.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Show</h3>
        <p class="text-left">Show your love to this project - You can donate any amount or put a bounty on the project issues. <a href="{{url_for('donation')}}">See how.</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Map</h3>
        <ul class="list-unstyled">
          <li><a href="{{url_for('editor')}}">Editor</a></li>
          <li><a href="{{url_for('libraries')}}">Libraries</a></li>
          <li><a href="{{url_for('documentation')}}">Documentation</a></li>
          <li><a href="{{url_for('donation')}}">Donation</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Projects</h3>
        <ul class="list-unstyled">
          <li><a href="https://github.com/behavior3/behavior3editor">Behavior3 Editor</a></li>
          <li><a href="https://github.com/behavior3/behavior3js">Behavior3 JS</a></li>
          <li><a href="https://github.com/behavior3/behavior3py">Behavior3 PY</a></li>
        </ul>
      </div>
    </div>
  
    <br>
    <br>

    <div class="row text-center">
      &copy; 2015 <a href="http://guineashots.com">guineashots.com</a>
    </div>
  </div>
</div>
