
<div class="b3-header">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('home')}}">Behavior3</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{url_for('home')}}" class="hvr-underline-reveal">Home</a></li>
          <li><a href="{{url_for('editor')}}" class="hvr-underline-reveal">Editor</a></li>
          <li><a href="{{url_for('libraries')}}" class="hvr-underline-reveal">Libraries</a></li>
          <li><a href="{{url_for('documentation')}}" class="hvr-underline-reveal">Documentation</a></li>
          <li><a href="{{url_for('donation')}}" class="hvr-underline-reveal">Donation</a></li>
        </ul>
      </div>

    </div>
  </nav>
</div>